<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{{player.player_image.url}}" width="150" height="200"> <img src="{{player.ipl_team.team_logo.url}}" width="150" height="200"><br>
Player name : {{player.first_name}} {{player.last_name}}<br>
Jersey Number : {{player.jersey_number}}<br>
Matches : {{player.matches}}<br>
Runs : {{player.runs}}<br>
Highest Score : {{player.highest}}<br>
50's : {{player.half_centuries}}<br>
100's : {{player.centuries}}<br>
<br>
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>